# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BlessType.iml
# Datasource local storage ignored files
/../../../../../../../:\Uni and personal work\Unity Games\BlessType\.idea\.idea.BlessType\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
