# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Survitype.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni and personal work\Unity Games\Survitype\.idea\.idea.Survitype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
